# Dependencies
node_modules/

# Build output
# dist/
#test

# Vite
.vite/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# gh-pages cache
.cache/